
@{
    ViewBag.Title = "AddDeviceToGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Add device to group</h3>
<hr />
<div class="row row-centered">
    <div class="col-md-4 col-sm-6 col-xs-12 col-centered">
        <div class="panel-body">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        <div class="col-sm-9 control-label">
                            <div class="succesResult">@ViewBag.Result</div>
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.Label("Group name", new { @class = "col-sm-4 control-label" })

                        <div class="col-sm-6">
                            <input id="groupName" name="groupName" class="form-control" type="text" value="">
                            @Html.ValidationMessage("groupName")

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Serial number", new { @class = "col-sm-4 control-label" })

                        <div class="col-sm-6">
                            <input id="serialNumber" name="serialNumber" class="form-control" type="text" value="">
                            @Html.ValidationMessage("serialNumber")

                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-4">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
