@model RedAlert.API.Models.DeviceGroup

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-section-a">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8  col-md-offset-2">
                    <div class="panel panel-default  device-panel">

                        <div class="panel-heading">
                            <h3 class="panel-title">Your Url is:</h3>
                        </div>
                        <div class="panel-body">


                            @if (ViewData["result"] != null)
                            {
                                <h2> @ViewData["result"]</h2>
                            }

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                
                                    
                                    @Html.ValidationSummary(true)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Name)
                                            @Html.ValidationMessageFor(model => model.Name)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Password)
                                            @Html.ValidationMessageFor(model => model.Password)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }
                            @section Scripts {
                                @Scripts.Render("~/bundles/jqueryval")
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


