<!DOCTYPE html>
<html>
@Html.Partial("Head")
<body>

    @Html.Partial("Header")


       
            <div class="container">
                <div class="row">
                   
                    
                            @RenderBody()
                </div>
            </div>
      

    @Html.Partial("Footer")
    @RenderSection("scripts", required: false)
</body>
</html>