<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <img src="~/Content/img/logo.png" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Mood", "ViewSendMessage", "Device")</li>
                    <li>@Html.ActionLink("Create Device Key", "Create", "Device", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Get Device Key", "Get", "Device", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("List Devices", "List", "Device", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Create Group", "Create", "Group", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="jumbotron">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; RedAlert - An eXtreme Feedback Device</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
