<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/agency.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/landing-page.css" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Custom Fonts -->
    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>



            <a href="@Url.Action("Index", "Home")">
                <img src="~/Content/img/logo.png" />
            </a>

           
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Home", "Index", "Home", new {area = ""}, null)</li>
               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Device Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        </br>
                        <li>@Html.ActionLink("Register Device", "Register", "Device", new {area = ""}, null)</li>
                        <hr>
                        <li>@Html.ActionLink("Get Device Key", "Get", "Device", new {area = ""}, null)</li>
                        <hr>
                        <li>@Html.ActionLink("Set the Color", "Index", "Color", new {area = ""}, null)</li>
                        <hr>
                        <li>@Html.ActionLink("Generate Url", "GenerateUrl", "Device", new {area = ""}, null)</li>
                        <hr>
                        <li> @Html.ActionLink("Create QR Code", "Index", "QrCode", new {area = ""}, null)</li>
                        <hr>
                        <li>@Html.ActionLink("Mood", "ViewSendMessage", "Device")</li>
                        </br>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Group Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        </br>
                        <li>@Html.ActionLink("Create Group", "Create", "Group", new { area = "" }, null)</li>
                        <hr>
                        <li>@Html.ActionLink("Add Device to Group", "AddDeviceToGroup", "Group", new { area = "" }, null)</li>
                        </br>
                        <hr>
                        <li>@Html.ActionLink("Send color to Group", "SendMessageToGroup", "Group", new { area = "" }, null)</li>
                        </br>
                    </ul>
                </li>
                <li>@Html.ActionLink("Recipes", "Index", "Recipe", new { area = "" }, null)</li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


    @RenderBody()


    <!-- /.banner -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>







</body>
</html>
