@using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Device Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("My Devices", "List", "Device")</li>
                        @*No idea what this is for... :*@

                        @*<li>@Html.ActionLink("Set the Color", "Index", "Color", new { area = "" }, null)</li>*@
                        <li>@Html.ActionLink("My Url", "GenerateUrl", "Device")</li>
                        <li>@Html.ActionLink("My QR Code", "Index", "QrCode")</li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Group Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Create Group", "Create", "Group")</li>
                        <li>@Html.ActionLink("Add Device to Group", "AddDeviceToGroup", "Group")</li>
                        @*<li>@Html.ActionLink("Send color to Group", "SendMessageToGroup", "Group")</li>*@
                    </ul>
                </li>
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
