<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Content/img/logo.png" />
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Device Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Register Device", "Register", "Device")</li>
                        <li>@Html.ActionLink("My Devices", "List", "Device")</li>
                        @*No idea what this is for... :*@
                        @*
                        <li>@Html.ActionLink("Set the Color", "Index", "Color", new { area = "" }, null)</li>*@
                        <li>@Html.ActionLink("Generate Url", "GenerateUrl", "Device")</li>
                        <li> @Html.ActionLink("Create QR Code", "Index", "QrCode")</li>
                        <li>@Html.ActionLink("Mood", "Mood", "Device")</li>
                        <li>@Html.ActionLink("Voting", "Voting", "Color")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Group Management <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Create Group", "Create", "Group")</li>
                        <li>@Html.ActionLink("Add Device to Group", "AddDeviceToGroup", "Group")</li>
                        <li>@Html.ActionLink("Send color to Group", "SendMessageToGroup", "Group")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Recipes", "Index", "Recipe", new {area = ""}, null)</li>
                @Html.Partial("_LoginPartial")
                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
  <!-- /.banner -->