@model RedAlert.API.Models.DeviceModel

@{
    ViewBag.Title = "Register Device";
}

<div class="panel-heading">
    <h3 class="panel-title">Register your device</h3>
</div>
<div class="panel-body">
    @if (Model.DeviceKey != null)
    {
        <script>
            $(document).ready(function () {
                localStorage.setItem("deviceKey", "@Model.DeviceKey");
                localStorage.setItem("senderKey", "@Model.SenderKey");
            });
        </script>
        <h2> Your Device key is: @Model.DeviceKey</h2>
                                <h2> Your Sender Key is: @Model.SenderKey</h2>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.SerialNumber, "Serial Number", htmlAttributes: new { @class = "control-label col-md-3" })
                @Html.EditorFor(model => model.SerialNumber)
                @Html.ValidationMessageFor(model => model.SerialNumber)
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
    }
</div>