@model RedAlert.API.Models.DeviceModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8  col-md-offset-2">
                <div class="panel panel-default  device-panel">
                    </br>
                    <div class="panel-heading">
                        <h3 class="panel-title">Register your device</h3>
                    </div>
                    <div class="panel-body">
                        @if (Model.DeviceKey != null)
                        {
                            <h2> Your Device key is: @Model.DeviceKey</h2>
                            <h2> Your Sender Key is: @Model.SenderKey</h2>
                        }
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SerialNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.EditorFor(model => model.SerialNumber)
                                    @Html.ValidationMessageFor(model => model.SerialNumber)
                                </div>
                                <hr />
                                <div class="form-group">
                                    <input type="submit" value="Register" class="btn btn-default" />
                                </div>
                            </div>
                        }

                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }


                    </div>
                </div>
            </div>
    </div>
</div>
</div>
