@model RedAlert.API.Models.DeviceModel
 
@{
    ViewBag.Title = "Register Device";
}

<div class="container">
    <div class="row">
        </br></br>
        <div class="col-xs-12 classforborder">
            <div class="col-xs-6 ">
                <h4>Instructions</h4>
                <hr>
                </br></br>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Steps to register</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">1 - Open the Box</li>
                            <li class="list-group-item">2 - Write the device serial number from the device in the textbox</li>
                            <li class="list-group-item">3 - Enjoy !</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 ">
                <img src="~/Content/img/devicepsdxx.png" width="100%"/>
            </div>
        </div>
    </div>
   </br></br>
    <div class="row">
        <div class="col-xs-12  classforborder ">
            <h4>Register your device</h4>
            <hr></br>          
            @if (Model.DeviceKey != null)
            {
                <script>
                    $(document).ready(function() {
                        localStorage.setItem("deviceKey", "@Model.DeviceKey");
                        localStorage.setItem("senderKey", "@Model.SenderKey");
                    });
                </script>            
                    <h5> Your Device key is:   <i> @Model.DeviceKey</i></h5>
                    <h5> Your Sender Key is:   <i> @Model.SenderKey</i></h5>             
                    }
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.SerialNumber, "Serial Number", htmlAttributes: new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(model => model.SerialNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SerialNumber)
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-5">
                                    <input type="submit" value="Register" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
    </div>
</div>





 